/* h1{
    background-color: brown;
} */

html,body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

ul{
    display: flex;
    background-color: grey;
    margin: 0px;
    padding: 15px 0;
    color: white;

}

ul li{
    list-style: none;
    margin: 0 23px;
}